/* body headers, footer and link styles */

body {
    height: 100vh;
    background: black;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 6vh;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: #ccc;
    text-decoration: none;
}

.welcome {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40vh 30vh;
    width: 80vw;
    height: 45%;
    margin: auto;
    margin-top: 7vh;
}

.welcome-text {
    position: relative;
    width: 70vw;
    text-align: center;
    font-size: 2rem;
    margin: auto;
}

/* game choices */

.choose-game {
    position: relative;
    display: grid;
    grid-template-columns: 40vw 40vw;
    width: 80vw;
}

.memegame {
    background-image: url(../images/One-Does-Not-Simply.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 600px;
    height: 400px;
    cursor: pointer;
    transition: .5s ease;
}

.memegame-button {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.memegame:hover {
    box-shadow: 0 0 0 1px black;
    box-sizing: border-box;
    filter: brightness(0.5);
}

.memegame:hover .memegame-button {
    opacity: 1;
    filter: none;
}

.colorgame {
    background-image: url(../images/Ancient-Aliens.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 600px;
    height: 400px;
    cursor: pointer;
    transition: .5s ease;
}

.colorgame-button {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.colorgame:hover {
    box-shadow: 0 0 0 1px black;
    box-sizing: border-box;
    filter: brightness(0.5);
}

.colorgame:hover .colorgame-button {
    opacity: 1;
}

/* difficulties */

.difficulties {
    margin: 5% 5% 5% 25%;
    width: 90vw;
    height: 70vh;
    padding: 0;
}

.difficulty {
    height: 25%;
    width: 100%
}

.description {
    display: inline;
    font-size: 2vw;
    padding: 0;
}

.easy {
    width: 50%;
}

.easy-text {
    width: 50%;
}

.easiest:hover {
    filter: opacity(0.8);
}

.easy:hover {
    filter: opacity(0.8);
}

.normal:hover {
    filter: opacity(0.8);
}

.hard:hover {
    filter: opacity(0.8);
}

/* game elements */

#counter {
    display: inline;
    position: relative;
    color: white;
    margin: 10% 10% 10% 10%;
    size: fit-content;
}

/* easiest */

.easiest-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33% 33% 33%;
    height: 70vh;
    width: 80vw;
    margin: 5vw 10vw 2vh 10vw;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

.easiest-background {
    background-image: (url(../images/memesquire.jpg));
    height: 100vh;
    width: 100vw;    
    background-repeat: repeat;
}

/* easy */

.easy-grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 25% 25% 25% 25%;
    height: 70vh;
    width: 80vw;
    margin: 5vw 10vw 2vh 10vw;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

/* normal */

.normal-grid {
    display: grid;
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    height: 70vh;
    width: 80vw; 
    margin: 5vw 10vw 2vh 10vw;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

/* hard */
.hard-grid {
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    height: 70vh;
    width: 80vw;
    margin: 5vw 10vw 2vh 10vw;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

.card {
    background-color: #9f9f9f;
    cursor: pointer;
    border-radius: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 0.5 ease;
}

.card:hover {
    filter:brightness(0.8)
}

.card.match {
    cursor: not-allowed;
}

.card.match:hover {
    filter: none;
}
/*  colored Cards */

.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.orange {
    background-color: orange;
}
.tan {
    background-color: tan;
}
.cyan {
    background-color: cyan;
}
.pink {
    background-color: pink;
}
.purple {
    background-color: purple;
}
.magenta {
    background-color: magenta;
}
.greenyellow {
    background-color: greenyellow;
}
.gold {
    background-color: gold;
}
.peachpuff {
    background-color: peachpuff;
}
.brown {
    background-color: brown;
}
.white{
     background-color: white;
}
.silver{
     background-color: silver;
}
.cornflowerblue {
     background-color: cornflowerblue;
}
.cadetblue{
     background-color: cadetblue;
}
.chartreuse{
     background-color: chartreuse;
}
.rosybrown{
     background-color: rosybrown;
}

/* hidden classes to hide cards */

.hidden {
    background-image: url() !important;
}

.hidden-color {
    background-color: gray;
}
/*----------------------------------- Media queries --------------------------------------- */

@media screen and (max-width: 900px) {

/* easiest */

.easiest-grid {
    height: 80vh;
    width: 80vw;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 25% 25% 25% 25%;
    margin: 3vh auto 4vw auto;
}

/* easy */

.easy-grid {
    height: 80vh;
    width: 80vw;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows:  20% 20% 20% 20% 20%;
    margin: 3vh auto 4vw auto;
}

/* normal */

.normal-grid {
    height: 80vh;
    width: 80vw;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
    margin: 3vh auto 4vw auto;
}

/* hard */

.hard-grid {
    height: 80vh;
    width: 80vw;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    margin: 3vh auto 4vw auto;
}

.description {
    display: none;
}

.difficulties {
    margin: 3vh auto 3vh auto;
}

.difficulty {
    margin: 0 auto 0 auto;   
}

.image {
    width: 100%;
}
}
@media screen and (orientation: portrait) and (max-width: 900px) {

}
@media screen and (orientation: landscape) and (max-width: 900px) {
/* easiest */

    .easiest-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33% 33% 33%;
    height: 70vh;
    width: 80vw;
    margin: 5vw 10vw 2vh 10vw;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

.easiest-background {
    background-image: (url(../images/memesquire.jpg));
    height: 100vh;
    width: 100vw;    
    background-repeat: repeat;
}

/* easy */

.easy-grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 25% 25% 25% 25%;
    height: 70vh;
    width: 80vw;
    margin: 5vw 10vw 2vh 10vw;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

/* normal */

.normal-grid {
    display: grid;
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    height: 70vh;
    width: 80vw; 
    margin: 5vw 10vw 2vh 10vw;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

/* hard */
.hard-grid {
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    height: 70vh;
    width: 80vw;
    margin: 5vw 10vw 2vh 10vw;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}
}