/* navigation */
.dropdown-toggle::after {
    display: none;
}

/* game choices */

.choose-game {
    position: relative;
    margin-top: 5em;
}

.container {
    text-align: center;
}

.memegame {
    background-image: url(../images/One-Does-Not-Simply.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 600px;
    height: 400px;
    cursor: pointer;
    transition: .5s ease;
}

.memegame-button {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.memegame:hover {
    box-shadow: 0 0 0 1px black;
    box-sizing: border-box;
    filter: brightness(0.5);
}

.memegame:hover .memegame-button {
    opacity: 1;
    filter: none;
}

.colorgame {
    background-image: url(../images/Ancient-Aliens.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 600px;
    height: 400px;
    cursor: pointer;
    transition: .5s ease;
}

.colorgame-button {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.colorgame:hover {
    box-shadow: 0 0 0 1px black;
    box-sizing: border-box;
    filter: brightness(0.5);
}

.colorgame:hover .colorgame-button {
    opacity: 1;
}

/* difficulties */

.difficulties {
    margin-top: 3em;
}

#counter {
    display: inline;
    position: relative;
    color: white;
}

/* easiest */

.easiest-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    height: 70vh;
    text-align: center;
    margin: 10vh 0 10vh 0;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

.easiest {
    cursor: pointer;
    transition: .5s ease;
}

.easiest:hover {
    filter:brightness(0.8)
}

.card-easiest {
    display: inline-block;
    width: 12;
    height: 16vh;
    background-color: #9f9f9f;
    cursor: pointer;
}


/* easy */

.easy-grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: auto;
    height: 70vh;
    text-align: center;
    margin: 10vh 0 10vh 0;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

.easy {
    cursor: pointer;
    transition: .5s ease;
}

.easy:hover {
    filter:brightness(0.8)
}

.card-easy {
    display: inline-block;
    width: 6vw;
    height: 8vh;
    background-color: #9f9f9f;
    cursor: pointer;
}


/* normal */

.normal-grid {
    display: grid;
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    height: 70vh;
    text-align: center;
    margin: 10vh 0 10vh 0;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

.normal {
    cursor: pointer;
    transition: .5s ease;
}

.normal:hover {
    filter:brightness(0.8)
}

.card-normal {
    display: inline-block;
    width: 6vw;
    height: 8vh;
    background-color: #9f9f9f;
    cursor: pointer;
}

/* hard */
.hard {
    cursor: pointer;
    transition: .5s ease;
}

.hard:hover {
    filter:brightness(0.8)
}

.hard-grid {
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-rows: auto;
    height: 70vh;
    text-align: center;
    margin: 10vh 0 10vh 0;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

.card-hard {
    background-color: #9f9f9f;
    cursor: pointer;
    border-radius: 5% 
}

.card-hard:hover {
    filter:brightness(0.8)
}

.card-hard.match {
    cursor: not-allowed;
}

.card-hard.match:hover {
    filter: none;
}
/* Colors */
body {
    background: black;
}
/* Cards */

.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.orange {
    background-color: orange;
}
.tan {
    background-color: tan;
}
.cyan {
    background-color: cyan;
}
.pink {
    background-color: pink;
}
.purple {
    background-color: purple;
}
.magenta {
    background-color: magenta;
}
.greenyellow {
    background-color: greenyellow;
}
.gold {
    background-color: gold;
}
.peachpuff {
    background-color: peachpuff;
}
.brown {
    background-color: brown;
}

.white{
     background-color: white;
}
.silver{
     background-color: silver;
}
.cornflowerblue {
     background-color: cornflowerblue;
}
.cadetblue{
     background-color: cadetblue;
}
.chartreuse{
     background-color: chartreuse;
}
.rosybrown{
     background-color: rosybrown;
}

.hidden {
    background-color: gray;
}
/*----------------------------------- Media queries --------------------------------------- */

@media screen and (max-width: 900px) {

@media screen and (orientation: portrait) and (max-width: 900px) {

@media screen and (orientation: landscape) and (max-width: 900px) {
.video-frame {