.row {
    text-align: center;
}

.card {
    display: inline-block;
    width: 10em;
    height: 10em;
    background-color: #9f9f9f;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 0 0 1px black; 
    box-sizing: border-box;
}
/* Colors */
/* Cards */

.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.green {
    background-color: green;
}
.yellow {
    background-color: yellow;
}
.orange {
    background-color: orange;
}
.tan {
    background-color: tan;
}
.cyan {
    background-color: cyan;
}
.pink {
    background-color: pink;
}
.purple {
    background-color: purple;
}
.magenta {
    background-color: magenta;
}
.red {
    background-color: greenyellow;
}
.gold {
    background-color: gold;
}
.black {
    background-color: black;
}
.brown {
    background-color: brown;
}